body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe8fe;
  }
  
  header {
    background-color: #e098c8;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    border-radius: 150px 150px;
    max-width: 30%;
    margin: 0 auto;
    margin: 50px auto 20px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    text-align: center;
  }
  
  #biglist-style {
    max-width: 400px;
    margin: 0 auto;
    padding: 60px;
  }
  
  .input-field {
    display: flex;
    margin-bottom: 10px;
    
  }
  
  .input-field input[type="text"] {
    flex: 1;
    padding: 0px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
  }
  
  .input-field button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6d6c6c;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .listcontainer {
    background-color: #d9d9d9;
    border: 1px solid #0f0101;
    border-radius: 30px;
    padding: 20px;
  }
  
  .input-field {
    text-align: center;
  }
  
  .input-field input,
  .input-field button {
    margin: 30px; 
    border-radius: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #ffffff;
    color: #080808;
    padding: 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  button:hover {
    background-color: #971926;
  }
  
  #save {
    width: auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }
  
  #save:hover {
    background-color: #4caf50;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  